<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename ='styles.css') }}">
</head>
<body>
<div class="pagebox">
	<div class="header">
		{%if 'username' not in session %}
		<a href='/login' class="menulink">Click Here to Login </a>
		{% else %}
		<a href='/gdisconnect' class="menulink">Logout </a>
		{% endif %}
		<h1 class="title">{{category.name}}</h1>
			<div class="menuitems">
				<a href="/items/"class="menulinks">
					Click here to view All Items</a>
				<a href="/categories/"class="menulinks">
					Click here to view All Categories</a>
				<a href="{{url_for('newCategoryItem', category_id = category.id) }}"
					class="menulinks">Add New Item to this Category</a>
				<a href="{{url_for('deleteCategory', id = category.id) }}"
					class="menulinks">Delete this Category</a>
				</div>
			</div>		
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li> <strong> {{message}} </strong> </li>
			{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}
	<p class="primary">
	{% for i in items %}
	<h1 class="names">{{i.name}} - 
		<a href="{{url_for('specificItem', id = i.id) }}"
			class="menulinks">View</a></h1>
	<p class="primary">{{i.description}}<p>
  <p class="descript">{{i.user.email}}-{{i.user.id}}-{{i.user.name}}</p>
	</p>
	{% endfor %}
</div>
</body>
</html>
